* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FDFBF2;
  font-family: 'Merriweather', serif;
  color: #333;
  line-height: 1.6;
}

.page-flex {
  display: flex;
  gap: 24px;
}

/* scrollable text panel (right) */
.sidebar {
  width: 440px;
  max-width: 32%;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 24px 28px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
  font-size: 14px;
}

/* left column */
.main-pane {
  flex: 1;
  padding: 20px 30px;
}

/* Box that encloses map, controls, bar chart */
.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ev-header h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.map-box svg {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  max-height: 480px;
  object-fit: contain;
}

#legend svg {
  float: right;
  margin-left: 2px;
}

.map-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

#clock {
  outline: 1px solid #000;
  padding: 4px;
  width: 100px;
  border-radius: 7px;
}

.btn-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.chart-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#vis2 svg {
  width: 100%;
  max-width: auto;
}

.chart-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}

#vis2 text.labels {
  transform: translateY(12px);
}

/* nudge x-axis label */

#tooltip,
#tooltip2,
#tooltip3 {
  position: absolute;
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 13px;
  pointer-events: none;
  z-index: 10;
}

.button-4 {
  appearance: none;
  background: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .04)0 1px 0,
    rgba(255, 255, 255, .25)0 1px 0 inset;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  transition: background-color .2s cubic-bezier(.3, 0, .5, 1);
  width: 200px;
}

.button-4:hover {
  background: #F3F4F6;
}

.button-4:disabled {
  background: #FAFBFC;
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background: #EDEFF2;
  box-shadow: rgba(225, 228, 232, .2)0 1px 0 inset;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before,
.button-4:-webkit-details-marker {
  display: none;
}