/* reset / base ---------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


.container {
    max-width: 90%;
    margin: 2rem auto;
}

/* map frame */
#vis svg {
    border: 1px solid #ccc;
    margin: 1rem 0;
    height: 90%
}

/* general tool-tip style */
#tooltip,
#tooltip2 {
    position: absolute;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 13px;
    pointer-events: none;
}

/* legend floating right of map (optional) */
#legend svg {
    float: right;
    marg